@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;   
}
body{
    background: rgb(31, 116, 186)
}
main{
    width: 960px;
    height: 100vh;
    margin: 0 auto;    
    padding: 1.5rem;
}
header{
    display: flex;
    flex-wrap: wrap;

}
h1.titulo{
    background-color: #666;
    color: #fff;
    padding: 10px;
}
form{
    padding: 10px;
    border: 1px solid #666;
    border-radius: 20px;
    display: flex;
    width: 70%;
    margin: 10px auto;

}
form input {
    background-color: transparent;
    padding: 5px;
    border: none;
    outline: none;
    flex: 1;
}
form button{
    padding: 5px 10px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 10px;
}
form button:hover{
    background-color: #333;
}
.lista{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
div.item{
    text-align: center ;
    padding: 10px;
    width: 200px;
    border: 2px solid rgb(255, 254, 254);
    margin: 5px;
}
div.item:hover{
    background-color: rgb(255, 254, 254);
    cursor: pointer;
}
div.item img{
    width: 100%;
}
nav{
    position: relative;
    margin-top: 10px;
}
ul li{
    display: inline;
}
li{
    padding: 8px;
}
ul{
    display: flex;
    justify-content: flex-end;
    margin-left: 30px;
    margin-right: 30px;

}
#casa{
    width: 35px;
    padding: 9px;
}
#casa:hover{
    transition: 0.5s;
    background-color: white;
    border-radius: 75%;
}

.logos{
    width: 35px;
    padding: 10px;
}
.logos:hover{
    transition: 0.5s;
    background-color: white;
    border-radius: 75%;
}
#headDoc{
    display: flex;
    justify-content: center;
}
.ulDoc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.liDoc{
    align-items: center;
}
.docPai{
    display: flex;
    position: absolute;
    justify-content: center;
}
.docFil1{
    border: 2px solid white;
    height: 400px;
    width: 400px;
    background-color: white;
    justify-content: center;
    display: flex;
    
}
.docFil1 img{
    width: fit-content;
}
.docFil2{
    border: 2px solid white;
    height: 400px;
    width: 700px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    text-align: justify;
}
.docFil2 p{
    padding: 30px;
}
/*
.testeR{
    background-color: #333;
    height: 400px;
    width: 1024px;
}

/*responsividade*/
@media (max-width: 390px) {
    body{
        background-color: rgb(31, 116, 186);
        background-size:  390px;
        background-repeat: no-repeat;
        color: #fff;
    }
    main{
        margin: 0;
        padding: 0;
        max-width: 390px;
    }
    header{
        max-width: 390px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }
    nav, ul, li{
        max-width: 80%;
        justify-self: flex-end;
        padding: 0;
    }
    form{
        width: 250px;
        margin: 1px;
    }
    form input{
        max-width: 70%;
    }
}
@media (min-width: 391px) and (max-width: 480px) {
    body{
        background-color: rgb(31, 116, 186);
        background-size:  390px;
        background-repeat: no-repeat;
        color: #fff;
    }
    main{
        margin: 0;
        padding: 0;
        max-width: 390px;
    }
    header{
        max-width: 390px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }
    nav, ul, li{
        max-width: 80%;
        justify-self: flex-end;
        padding: 0;
    }
    form{
        width: 250px;
        margin: 1px;
    }
    form input{
        max-width: 70%;
    }
}

@media (min-width: 481px)and (max-width: 768px) {
    
    main{
        margin: 0;
        padding: 0;
        max-width: 768px;
    }
    header{
        max-width: 768px;
        align-items: center;
        justify-content: center;
    }
    nav, ul, li{
        max-width: 100%;
        justify-self: flex-end;
    }
    form{
        width: 300px;
        margin: 3px;
    }
    form input{
        max-width: 70%;
    }
}

